header{
    text-align: center;
    background-color: #fc8c02;
    padding: 10px 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
    color: #6f6d6d;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin-top: 20px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 80px;
    text-align: center;
    color: rgb(89, 84, 84);
    margin-bottom: 5px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.offre-de-stage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.offre {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.offre strong {
    color: #51504e;
    text-align: center;
    font-size: 1.2em;
}

.offre p li {
    color: #333;
    font-size: 1em;
    margin-left: 15px;
}

.offre p {
    margin: 10px 0px;
    
}

a {
    color: #3d4045;
    text-decoration: none;
}

.bouton {
    padding: 10px 20px;
    font-size: 1em;
    text-align: center;
    color: #ffffff;
    background-color: #2331ae;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

.bouton1 {
    padding: 10px 20px;
    font-size: 1em;
    text-align: center;
    color: #070707;
    background-color: #dcdada;
    border: none;
    border-radius: 5px;
}

.bouton1:hover {
    background-color: #fa833d;
}

footer {
    text-align: center;
    background-color: #056df5;
    color: #ffffff;
    padding: 15px 0;
    margin-top: 20px;
}

footer a {
    color: #d1cac2;
}

footer a:hover {
    text-decoration: underline;
}